body {
    background-color: crimson;
    color: white;
    text-align: center;
    font-family: "Playwrite DE Grund", cursive;
    font-style: normal;
    font-size: 25px;
}

div {
    margin: 15px;
}

.startTimer {
    width: 3em;
    height: 3em;
    fill: white;
}

.parametres {
    fill: white;
    width: 3em;
    height: 3em;
}

.etat {
    box-shadow: 1px 1px 10px 10px black;
    border-radius: 17%;
    width: fit-content;
    display: block;
    margin: auto;
    padding: 5px;
    font-size: 25px;
}

.timer {
    box-shadow: 1px 1px 10px 10px black;
    border-radius: 50%;
    width: fit-content;
    display: block;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: min(70px, 30%);
    font-size: 25px;
    font-weight: bold;
}

.messageValider {
	user-select: none;
	opacity: 0;
}

.valider {
    background-color: black;
    border-radius: 20px;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
}

.valider:hover {
    background-color: white;
    color: black;
}

input {
    background-color: white;
    color: black;
    padding: 0.01em 0.01em;
    font-size: 25px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    font-family: "Playwrite DE Grund", cursive;
    font-style: normal;
}